.page_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 113px;

  .image_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .image {
      width: 667px;
    }

    .image_subtext {
      margin-top: 50px;
      color: var(--text-invert-color);
      text-align: center;
    }
  }
}

.form_wrapper,
.form_wrapper_loader {
  width: 489px;
  padding: 32px 72px;
  border-radius: 24px;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_wrapper_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 512px;
}

.error_text {
  color: var(--indicator-error-color);
}
