.main_page_wrapper {
  position: relative;
}

.image_wrapper {
  position: absolute;
  top: 100px;
  left: -100px;
}

.form_wrapper,
.form_wrapper_loader {
  position: absolute;
  top: 115px;
  right: 0;
  height: 500px;
  width: 489px;
  padding: 32px 72px;
  border-radius: 24px;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_wrapper_loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 617px;
}

.image_subtext {
  margin-top: 50px;
  color: var(--text-invert-color);
  text-align: center;
}

.error_text {
  color: var(--indicator-error-color);
}
