.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .input {
    width: 464px;
    font-family: var(--font-family-main);
  }

  .button {
    width: 328px;

    border-radius: 32px;
  }
}
