.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .form_wrapper {
    display: flex;
    width: 328px;
    flex-direction: column;
    gap: 24px;
  }

  .button {
    width: 328px;

    border-radius: 32px;
  }
}
