.typography32_regular {
  font: var(--font-32-regular);
}

.typography32_medium {
  font: var(--font-32-medium);
}

.typography32_semibold {
  font: var(--font-32-semi-bold);
}

.typography32_bold {
  font: var(--font-32-bold);
}

.typography24_regular {
  font: var(--font-24-regular);
}

.typography24_medium {
  font: var(--font-24-medium);
}

.typography24_semibold {
  font: var(--font-24-semi-bold);
}

.typography24_bold {
  font: var(--font-24-bold);
}

.typography20_regular {
  font: var(--font-20-regular);
}

.typography20_medium {
  font: var(--font-20-medium);
}

.typography20_semibold {
  font: var(--font-20-semi-bold);
}

.typography20_bold {
  font: var(--font-20-bold);
}

.typography16_regular {
  font: var(--font-16-regular);
}

.typography16_medium {
  font: var(--font-16-medium);
}

.typography16_semibold {
  font: var(--font-16-semi-bold);
}

.typography16_bold {
  font: var(--font-16-bold);
}

.typography14_regular {
  font: var(--font-14-regular);
}

.typography14_medium {
  font: var(--font-14-medium);
}

.typography14_semibold {
  font: var(--font-14-semi-bold);
}

.typography14_bold {
  font: var(--font-14-bold);
}

.typography12_regular {
  font: var(--font-12-regular);
}

.typography12_medium {
  font: var(--font-12-medium);
}

.typography12_semibold {
  font: var(--font-12-semi-bold);
}

.typography12_bold {
  font: var(--font-12-bold);
}

.clickable {
  cursor: pointer;
}
