.desktop_layout {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  padding: 24px 240px;
  min-height: 92vh;
}

.main_page {
  background-image: url('@images/main-page-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
